{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create New Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="/recipes/create">
    <label for="title">Recipe Name</label>
    <input name="title" id="title" required>

    <label for="ingno">ing no</label>
    <input name="ingno" id="ingno" required>
    <label for="ing1">First Ingredient</label>
    <input name="ing1" id="ing1" required>


    <label for="stepno">step number</label>
    <input name="stepno" id="stepno" required>
    <label for="step1">First Step</label>
    <input name="step1" id="step1" required>

    <label for="notes">Notes for the Chef:</label>
    <textarea name="notes" id="notes"></textarea>

    <input type="submit" value="Create Recipe">
  </form>
{% endblock %}

